* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
	background-image: url(1.jpg);
    width: 100%;

}
h6 p {	font-size: 20px;
	font-weight: bold;
	font-family: "Courier New", Monospace;
	text-shadow: #000 4px 4px 4px;
	color: white;
	padding-bottom: 5px;
	/* text-align: right; */



}

.container {

	width: 60vw;
		 /* edited */
	margin: 10px auto 10px;
}

.title {
	font-size: 30px;
	font-weight: bold;
	font-family: "Courier New", Monospace;
	text-shadow: #000 4px 4px 4px;
	color: white;
	padding-bottom: 5px;
}

.chat {
	border: 1px solid #ccc;
	height: 60vh;
	 /* edited */
	overflow-y: scroll;
	background-color: white;
	border-radius: 10px 0 0 0;
}

.chat div {
	margin: 15px 12px 15px;
	line-height: 20px;
 /* edited */
}

.chat .party {
	font-weight: bold;
	width: 100%;
	float: left;
}
.chat .h {
	float: right;
	font-weight: bold;
	font-size: 12px;
	color: 	#4169E1;
	width: 15%;
	padding: 1px;

}

.chat .you {
	color: #AF1600;
	font-family: Agency FB;
	font-size: 18px;
}

.chat .other {
	color: #003468;
	font-family: Agency FB;
	font-size: 18px;
}

.chat .text {
	width: 100%;
	float: left;
	background-color: #D5D8DC;
	padding: 10px;
	border-top-left-radius: 25px;
	border-top-right-radius: 2px;
	border-bottom-right-radius:15px;
	border-bottom-left-radius:2px;
}

.busy {
	position: absolute;
	padding: 3px 0;
	color: #666;
	display: none;
	font-size: 11px;
}

.input {
	margin-top: 20px;
}

.input input {
	vertical-align: top;
	float: left;
	border: 1px solid #ccc;
	padding: 10px;
	width: 73%;
	margin: 0;
	border-radius: 5px;
}

.input a {
	vertical-align: top;
	float: right;
	width: 25%;
	font-weight: bold;
	border: 1px solid #ccc;
	background-color: #efefef;
	padding: 5px;
	color: black;
	text-decoration: none;
	text-align: center;
	border-radius: 10px;
	font-family: "Courier New", Monospace;
	font-size: 22px;
}

.input a:hover {
	background-color: #ddd;
	cursor: pointer;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-center {
	  position: absolute;
	  left: 50%;
	  transform: translatex(-50%);
	 }
   }
